.product-page{
	@include container;
	background-color: white;
	padding: 2rem;
	
	.product-images{
		@include span(2 of 4);
		text-align: center;

		img{
			max-width: 100%;
			height: auto;
			box-sizing: border-box;
		}
		.unstyled{
			text-align: left;
			position: relative;
			top: -4rem;
			left: 4rem;
			font-size: 0;

			li{
				display: inline-block;
				border: 1px solid #e6e6e6;
			}
			.selected{
				border-color: black;
			}
		}
	}

	.product-details{
		@include span(2 of 4 last);
		text-align: center;
		position: relative;
		
		vertical-align: middle;

		aside{
			display: table;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		}
		h1{
			margin: 0;
			margin-top: 4rem;
		}
	}
	.on-sale{
		position: absolute;
		top: 0;
		right: 0;
	}
	.price{
		font-size: 3rem;
		font-weight: 100;
		margin: 2rem 0 2rem 0;
		color: #acacac;

		em{
			background-color: black;
			font-size: 1rem;
			padding: 0.5rem 1rem;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.select-buy{
		clear: both;
		height: 3rem;
		margin: 1rem 0;
		
		
		.select-model{
			float: left;
			width: calc(100% - 10rem);
			position: relative;

			&:before{
				content: '';
				width: 0;
				height: 0;
				display: block;
				position: absolute;
				left: 1rem;
				top: calc(50% - 0.25rem);
				border: 0.5rem solid transparent;
				border-top-color: black;
			}
		}
		select{
			box-sizing: border-box;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			
			height: 3rem;
			width: 100%;
			border-radius: 0.3rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border: 0;
			background-color: darken(white, 10%);
			padding: 0 1rem;
			padding-left: 3rem;
			font-size: 1rem;
		}
		button{
			float: left;
			height: 3rem;
			margin: 0;
			border-radius: 0.3rem;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			width: 10rem;
		}
	}
}
.same-artist{
	@include span(1 of 1);
	margin-top: 2rem;

	h2{
		text-align: left;
		font-size: 1rem;
		background-color: black;
		color: white;
		display: inline-block;
		text-transform: uppercase;
		padding: 0.5rem 1rem;
		margin-bottom: 2rem;
	}
}